<form action="/answer" data-turbo="false" class="container mt-5">
  <h2 class="fw-bold">Stupid Coaching</h2>
  <p class="mb-3">Ask your coach anything:</p>

  <div class="input-group" style="max-width: 400px;">
    <input type="text" name="question" class="form-control">
    <div class="input-group-append">
      <input type="submit" value="Ask" class="btn btn-primary">
    </div>
  </div>
</form>
